
     <div class="contents">
      <%= form_tag('/blogs', method: :post) do %>
        <h3 class="posts_string">
          New Posts
        </h3>
        <textarea class="textarea" cols="30" name="text" placeholder="What'happening?" rows="10"></textarea>
        <input class="btn" type="submit" value="SENT">
      <% end %>
     </div>


